.container3 {
    padding-top: 2rem;
    width: 100%;
    overflow-x: auto;
}

.container3-main {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-bottom: 32px;

    h2 {
        color: rgb(0, 0, 0);
        font-size: 1.8rem;
        margin: 0;
        text-align: center;
    }
}

.container3-main-img {
    img {
        max-width: 100%;
        height: auto;
    }
}