
.acrux_ProductContainer {
    display: flex;
    flex-direction: column;

    .o_product_header {
        background: transparent;
        border: 0;
    }

    .o_product_filters {
        display: flex;
        align-items: center;
        margin-left: 8px;
        margin-top: 4px;
        label {
            margin-bottom: 0;
        }
    }

    .o_acrux_chat_product_items {
        @extend %-card-container;
    }
}
